# 3. Pandas-Bibliothek und Pandas GUI
alle wesentlichen Funktionen, welche in Pandas verwendet werde können. Mittels Pandas kann sehr komfortabel auf externe Datensätze zugegriffen werden und diese in einem Dataframe gespeichert werden. In diesem Dataframe werden ähnlich einem Tabellenkalkulationsprogramm die Zeilen und Spalten indiziert. Somit können einfache Slicing, Anpassungen, Filterungen, Sortierungen vorgenommen werden.

## 3.1 Daten einlesen in einen Dataframe

In [ ]:
!pip install pandas
#Die Bibliothek pandas importieren. Hier wird in der Regel folgender Befehl genutzt. Wir können damit unter pd die entsprechenden Pandas-Befehle nutzen
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#einen Datensatz einlesen und in einen Dataframe übertragen
df=pd.read_csv("../../Datasets/01.1_iris_full.csv")
#den Dataframe anzeigen lassen
df

            species  sepal length  sepal width  petal length  petal width
0       Iris-setosa           5.1          3.5           1.4          0.2
1       Iris-setosa           4.9          3.0           1.4          0.2
2       Iris-setosa           4.7          3.2           1.3          0.2
3       Iris-setosa           4.6          3.1           1.5          0.2
4       Iris-setosa           5.0          3.6           1.4          0.2
..              ...           ...          ...           ...          ...
145  Iris-virginica           6.7          3.0           5.2          2.3
146  Iris-virginica           6.3          2.5           5.0          1.9
147  Iris-virginica           6.5          3.0           5.2          2.0
148  Iris-virginica           6.2          3.4           5.4          2.3
149  Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [ ]:
df_samples=pd.read_csv("../datasets/sample_data.csv", delimiter=";")
df_samples

   column_a  column_b  column_c
0         1         1        10
1         2         4         8
2         3         9         6
3         4        16         4
4         5        25         2

In [ ]:
#mittels Delimiter kann der korrekte Trenner zwischen den Spalten gewählt werden (also z.B. ein Komma oder einen Punkt oder ein Semikolon)
df=pd.read_csv("../../Datasets/01.1_iris_full.csv", delimiter=",")
df

            species  sepal length  sepal width  petal length  petal width
0       Iris-setosa           5.1          3.5           1.4          0.2
1       Iris-setosa           4.9          3.0           1.4          0.2
2       Iris-setosa           4.7          3.2           1.3          0.2
3       Iris-setosa           4.6          3.1           1.5          0.2
4       Iris-setosa           5.0          3.6           1.4          0.2
..              ...           ...          ...           ...          ...
145  Iris-virginica           6.7          3.0           5.2          2.3
146  Iris-virginica           6.3          2.5           5.0          1.9
147  Iris-virginica           6.5          3.0           5.2          2.0
148  Iris-virginica           6.2          3.4           5.4          2.3
149  Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [ ]:
#nur die ersten drei Zeilen ausgeben lassen
df.head()

       species  sepal length  sepal width  petal length  petal width
0  Iris-setosa           5.1          3.5           1.4          0.2
1  Iris-setosa           4.9          3.0           1.4          0.2
2  Iris-setosa           4.7          3.2           1.3          0.2
3  Iris-setosa           4.6          3.1           1.5          0.2
4  Iris-setosa           5.0          3.6           1.4          0.2

In [ ]:
#panads geht standardmäßig davon aus, dass in der ersten Zeile die Kopfdaten stehen. Sollte dies nicht der Fall, so vorab in einem Texteditor anpassen

#Wie viele Einträge hat der Dataframe
len(df)

150

In [ ]:
#Statistische Kennzahlen ausgeben
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [ ]:
#nur die Spalte species ausgeben. Und zwar die gesamte Spalte
df["sepal length"]
#oder besser mit einer for-Schleife
for species in df["sepal length"]:
    print(species)

5.1
4.9
4.7
4.6
5.0
5.4
4.6
5.0
4.4
4.9
5.4
4.8
4.8
4.3
5.8
5.7
5.4
5.1
5.7
5.1
5.4
5.1
4.6
5.1
4.8
5.0
5.0
5.2
5.2
4.7
4.8
5.4
5.2
5.5
4.9
5.0
5.5
4.9
4.4
5.1
5.0
4.5
4.4
5.0
5.1
4.8
5.1
4.6
5.3
5.0
7.0
6.4
6.9
5.5
6.5
5.7
6.3
4.9
6.6
5.2
5.0
5.9
6.0
6.1
5.6
6.7
5.6
5.8
6.2
5.6
5.9
6.1
6.3
6.1
6.4
6.6
6.8
6.7
6.0
5.7
5.5
5.5
5.8
6.0
5.4
6.0
6.7
6.3
5.6
5.5
5.5
6.1
5.8
5.0
5.6
5.7
5.7
6.2
5.1
5.7
6.3
5.8
7.1
6.3
6.5
7.6
4.9
7.3
6.7
7.2
6.5
6.4
6.8
5.7
5.8
6.4
6.5
7.7
7.7
6.0
6.9
5.6
7.7
6.3
6.7
7.2
6.2
6.1
6.4
7.2
7.4
7.9
6.4
6.3
6.1
7.7
6.3
6.4
6.0
6.9
6.7
6.9
5.8
6.8
6.7
6.7
6.3
6.5
6.2
5.9

## 3.2 Datensätze nach Spalten aufsplitten
Datensätze einlesen und im Anschluss in Features und Targets splitten? Das wird entweder per direktes Ansprechen der Spaltenbezeichnung oder per loc, iloc-Befehl gemacht.

In [ ]:
#Einen Datensatz aufsplitten in mehrere Features X und ein Target y
#siehe auch die Dokumentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

#Datensatz anzeigen lassen
df=pd.read_csv("../../Datasets/01.1_iris_full.csv", delimiter=",")
df.head()

       species  sepal length  sepal width  petal length  petal width
0  Iris-setosa           5.1          3.5           1.4          0.2
1  Iris-setosa           4.9          3.0           1.4          0.2
2  Iris-setosa           4.7          3.2           1.3          0.2
3  Iris-setosa           4.6          3.1           1.5          0.2
4  Iris-setosa           5.0          3.6           1.4          0.2

In [ ]:
#In der Spalte species steht demnach das Target y
y= df[["species"]]
y.head()
#print(type(y))

       species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [ ]:
#In den Spalten nach Species stehen alle Features, welche unter X zusammengefasst werden
#Diese könnnen mittels iloc oder loc zusammengefasst an X übertragen werden.
#Siehe auch hier: https://www.delftstack.com/de/howto/python-pandas/select-multiple-columns-pandas/#:~:text=Um%20mehrere%20Spalten%20aus%20einem,iloc()%20und%20loc()%20.
#Soll per Index der Spalten alle Spalten nach der Spalte 0 in X geschrieben werden, dann wie folgt...
X= df.iloc[0:4,-1:]
X.head()

   petal width
0          0.2
1          0.2
2          0.2
3          0.2

In [ ]:
#Sollen ebenfalls per Spaltenindex nur einzelne Spalten gewählt werden, dann so...
X1=df.iloc[:,[0,3]]
X1.head()

       species  petal length
0  Iris-setosa           1.4
1  Iris-setosa           1.4
2  Iris-setosa           1.3
3  Iris-setosa           1.5
4  Iris-setosa           1.4

In [ ]:
#Sollen per Name der Spalten, entsprechende Spalten ausgewählt werden, dann wird der Befehl loc statt iloc verwendet
X2=df.loc[:,["sepal length", "sepal width"]]
X2.head()

   sepal length  sepal width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

## 3.3 Zeilen eines Dataframes ansprechen und List Slicing
Hin und wieder müssen einzelne Zeilen herausgegriffen werden. Dies kann ebenfalls mittels des iloc-Befehls gemacht werden.

In [ ]:
#gezielt nur den ersten Eintrag, aber vollständig ausgeben
#iloc steht für Index-Spalte ganz links
df_letzteZeile=df.iloc[149]
df_letzteZeile.head()
#print(df_letzteZeile)

species         Iris-virginica
sepal length               5.9
sepal width                3.0
petal length               5.1
petal width                1.8
Name: 149, dtype: object

In [ ]:
#Typ des Eintrags (Pandas-Klase) ermitteln
eintrag=df.iloc[0]
print(type(eintrag))

<class 'pandas.core.series.Series'>

In [ ]:
#vorab den kompletten Eintrag ausgeben
print(df.iloc[2])
#gezielt auf einen Value eines Eintrags zugreifen
eintrag=df.iloc[2]
print("Der Eintrag für Petal Length lautet: ",eintrag["petal length"])

species         Iris-setosa
sepal length            4.7
sepal width             3.2
petal length            1.3
petal width             0.2
Name: 2, dtype: object
Der Eintrag für Petal Length lautet:  1.3

In [ ]:
#starten bei 4 und vor 8 beenden
df.iloc[4:8]

Empty DataFrame
Columns: [a, b, c]
Index: []

In [ ]:
#nur die letzten fünf Einträge ausgeben
df.iloc[-5:]

            species  sepal length  sepal width  petal length  petal width
145  Iris-virginica           6.7          3.0           5.2          2.3
146  Iris-virginica           6.3          2.5           5.0          1.9
147  Iris-virginica           6.5          3.0           5.2          2.0
148  Iris-virginica           6.2          3.4           5.4          2.3
149  Iris-virginica           5.9          3.0           5.1          1.8

## 3.4 Pandas Daten verstehen

In [ ]:
# als Tupel ausgeben. Erster Wert ist die 0. der eigentliche Inhalt beginnt bei species bis zum Ende des Wertes in petal width
for row in df.iterrows():
    print(row)
    print(type(row))
    break

(0, species         Iris-setosa
sepal length            5.1
sepal width             3.5
petal length            1.4
petal width             0.2
Name: 0, dtype: object)
<class 'tuple'>

In [ ]:
# als Tupel ausgeben. Da es ein Tupel ist, kann gezielt der Tupelindex mit pos und der Inhalt mit d ausgegeben werden
for row in df.iterrows():
    pos=row[0]
    d=row[1]
    print(pos)
    print(d)
    break

0
species         Iris-setosa
sepal length            5.1
sepal width             3.5
petal length            1.4
petal width             0.2
Name: 0, dtype: object

In [ ]:
# als Tupel ausgeben. Da es ein Tupel ist, kann gezielt der Tupelindex mit pos und der Inhalt mit d ausgegeben werden
for pos,d in df.iterrows():
    #print(pos)
    print(d)
    break

species         Iris-setosa
sepal length            5.1
sepal width             3.5
petal length            1.4
petal width             0.2
Name: 0, dtype: object

In [ ]:
# gezielt die Species ausgeben
for pos,d in df.iterrows():
    print(d["species"])

Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-setosa
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-versicolor
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica
Iris-virginica

## 3.5 Daten filtern

In [ ]:
#zeige in einer Series, welche Zeilen Werte < 6 haben. Ausgegeben wird dabei, ob der Wert zutrifft oder nicht. Also ist der Wert geringer denn 6 dann wird ein True ausgegeben.
df["sepal length"] < 6

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149     True
Name: sepal length, Length: 150, dtype: bool

In [ ]:
#filter den Dataframe und gib einen neuen Dataframe aus. Dieser kann in einem weiteren Schritt erneut in eine weiteren Dataframe gefiltert werden. Z.b. nach Petal Width <0.2
df_setosa=df[df["species"] == "Iris-setosa"]
df_setosa

        species  sepal length  sepal width  petal length  petal width
0   Iris-setosa           5.1          3.5           1.4          0.2
1   Iris-setosa           4.9          3.0           1.4          0.2
2   Iris-setosa           4.7          3.2           1.3          0.2
3   Iris-setosa           4.6          3.1           1.5          0.2
4   Iris-setosa           5.0          3.6           1.4          0.2
5   Iris-setosa           5.4          3.9           1.7          0.4
6   Iris-setosa           4.6          3.4           1.4          0.3
7   Iris-setosa           5.0          3.4           1.5          0.2
8   Iris-setosa           4.4          2.9           1.4          0.2
9   Iris-setosa           4.9          3.1           1.5          0.1
10  Iris-setosa           5.4          3.7           1.5          0.2
11  Iris-setosa           4.8          3.4           1.6          0.2
12  Iris-setosa           4.8          3.0           1.4          0.1
13  Iris-setosa           4.3          3.0           1.1          0.1
14  Iris-setosa           5.8          4.0           1.2          0.2
15  Iris-setosa           5.7          4.4           1.5          0.4
16  Iris-setosa           5.4          3.9           1.3          0.4
17  Iris-setosa           5.1          3.5           1.4          0.3
18  Iris-setosa           5.7          3.8           1.7          0.3
19  Iris-setosa           5.1          3.8           1.5          0.3
20  Iris-setosa           5.4          3.4           1.7          0.2
21  Iris-setosa           5.1          3.7           1.5          0.4
22  Iris-setosa           4.6          3.6           1.0          0.2
23  Iris-setosa           5.1          3.3           1.7          0.5
24  Iris-setosa           4.8          3.4           1.9          0.2
25  Iris-setosa           5.0          3.0           1.6          0.2
26  Iris-setosa           5.0          3.4           1.6          0.4
27  Iris-setosa           5.2          3.5           1.5          0.2
28  Iris-setosa           5.2          3.4           1.4          0.2
29  Iris-setosa           4.7          3.2           1.6          0.2
30  Iris-setosa           4.8          3.1           1.6          0.2
31  Iris-setosa           5.4          3.4           1.5          0.4
32  Iris-setosa           5.2          4.1           1.5          0.1
33  Iris-setosa           5.5          4.2           1.4          0.2
34  Iris-setosa           4.9          3.1           1.5          0.1
35  Iris-setosa           5.0          3.2           1.2          0.2
36  Iris-setosa           5.5          3.5           1.3          0.2
37  Iris-setosa           4.9          3.1           1.5          0.1
38  Iris-setosa           4.4          3.0           1.3          0.2
39  Iris-setosa           5.1          3.4           1.5          0.2
40  Iris-setosa           5.0          3.5           1.3          0.3
41  Iris-setosa           4.5          2.3           1.3          0.3
42  Iris-setosa           4.4          3.2           1.3          0.2
43  Iris-setosa           5.0          3.5           1.6          0.6
44  Iris-setosa           5.1          3.8           1.9          0.4
45  Iris-setosa           4.8          3.0           1.4          0.3
46  Iris-setosa           5.1          3.8           1.6          0.2
47  Iris-setosa           4.6          3.2           1.4          0.2
48  Iris-setosa           5.3          3.7           1.5          0.2
49  Iris-setosa           5.0          3.3           1.4          0.2

## 3.6 Dataframe sortieren

In [ ]:
# Sortieren mit dem sort_values
df.sort_values("petal width",ascending=False)

            species  sepal length  sepal width  petal length  petal width
100  Iris-virginica           6.3          3.3           6.0          2.5
109  Iris-virginica           7.2          3.6           6.1          2.5
144  Iris-virginica           6.7          3.3           5.7          2.5
114  Iris-virginica           5.8          2.8           5.1          2.4
140  Iris-virginica           6.7          3.1           5.6          2.4
..              ...           ...          ...           ...          ...
13      Iris-setosa           4.3          3.0           1.1          0.1
37      Iris-setosa           4.9          3.1           1.5          0.1
32      Iris-setosa           5.2          4.1           1.5          0.1
34      Iris-setosa           4.9          3.1           1.5          0.1
9       Iris-setosa           4.9          3.1           1.5          0.1

[150 rows x 5 columns]

## 3.7 Zeitreihen erstellen und abrufen
In Pandas können schnell Zeitreihen erzeugt und abgerufen werden. Dafür wird die Pandas-Funktion date_range() genutzt.

In [ ]:
#in dem folgenden Series-Objekt wird eine zweijähirige Zeitreihe eingefügt.
dates = pd.date_range('2021-01-01', '2022-12-31')

dates

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=730, freq='D')

In [ ]:
#Die Zeitschritte können ebenfalls definiert werden. Dafür benötigt man die Funktion freq. W = Wöchentlich, H = Stündlich
weekly = pd.date_range('2021-01-01', '2021-02-01', freq="W")

print(weekly)



hourly = pd.date_range('2021-01-01 8:00', '2021-01-01 18:00', freq="H")

print(hourly)

DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='W-SUN')
DatetimeIndex(['2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00'],
              dtype='datetime64[ns]', freq='H')

## 3.8 Arbeiten mit Pandas GUI

In [ ]:
!pip install pandasgui

Collecting pandasgui
  Downloading pandasgui-0.2.13.tar.gz (215 kB)
     |████████████████████████████████| 215 kB 4.1 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasgui) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasgui) (1.19.5)
Collecting PyQt5
  Downloading PyQt5-5.15.6-cp36-abi3-manylinux1_x86_64.whl (8.3 MB)
     |████████████████████████████████| 8.3 MB 18.2 MB/s
Collecting PyQt5-sip
  Downloading PyQt5_sip-12.9.0-cp37-cp37m-manylinux1_x86_64.whl (317 kB)
     |████████████████████████████████| 317 kB 52.9 MB/s
Collecting PyQtWebEngine
  Downloading PyQtWebEngine-5.15.5-cp36-abi3-manylinux1_x86_64.whl (228 kB)
     |████████████████████████████████| 228 kB 62.3 MB/s
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from pandasgui) (4.4.1)
Requirement already satisfied: wordcloud in /usr/local/lib/python3.7/dist-packages (from pandasgui) (1.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from pandasgui) (57.4.0)
Requirement already satisfied: appdirs in /usr/local/lib/python3.7/dist-packages (from pandasgui) (1.4.4)
Collecting pynput
  Downloading pynput-1.7.5-py2.py3-none-any.whl (87 kB)
     |████████████████████████████████| 87 kB 6.0 MB/s
Requirement already satisfied: IPython in /usr/local/lib/python3.7/dist-packages (from pandasgui) (5.5.0)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandasgui) (3.0.0)
Requirement already satisfied: astor in /usr/local/lib/python3.7/dist-packages (from pandasgui) (0.8.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from pandasgui) (3.10.0.2)
Collecting qtstylish>=0.1.2
  Downloading qtstylish-0.1.5.tar.gz (983 kB)
     |████████████████████████████████| 983 kB 26.3 MB/s
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (5.1.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (4.8.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (0.8.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from IPython->pandasgui) (0.7.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pandasgui) (0.2.5)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->pandasgui) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasgui) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasgui) (2018.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->IPython->pandasgui) (0.7.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->pandasgui) (1.3.3)
Collecting evdev>=1.3
  Downloading evdev-1.4.0.tar.gz (26 kB)
Collecting python-xlib>=0.17
  Downloading python_xlib-0.31-py2.py3-none-any.whl (179 kB)
     |████████████████████████████████| 179 kB 39.8 MB/s
Collecting PyQt5-Qt5>=5.15.2
  Downloading PyQt5_Qt5-5.15.2-py3-none-manylinux2014_x86_64.whl (59.9 MB)
     |████████████████████████████████| 59.9 MB 72 kB/s
Collecting PyQtWebEngine-Qt5>=5.15.2
  Downloading PyQtWebEngine_Qt5-5.15.2-py3-none-manylinux2014_x86_64.whl (67.5 MB)
     |████████████████████████████████| 67.5 MB 72 kB/s
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from wordcloud->pandasgui) (7.1.2)
Building wheels for collected packages: pandasgui, qtstylish, evdev
  Building wheel for pandasgui (setup.py) ... done
  Created wheel for pandasgui: filename=pandasgui-0.2.13-py3-none-any.whl size=233725 sha256=65782f08561c1e32301ee9f4771a428c7df80eadf10eeb85ee81c91bed661798
  Stored in directory: /root/.cache/pip/wheels/af/0d/e5/ebca654b734274e6ea61343c9d23cb4f89a9f170868e9e60e8
  Building wheel for qtstylish (setup.py) ... done
  Created wheel for qtstylish: filename=qtstylish-0.1.5-py3-none-any.whl size=1029285 sha256=9b6b1dc4c35ae7a50e4b7e9a2fe5801abe97cd6dbd364a2bd5bc80e55316473f
  Stored in directory: /root/.cache/pip/wheels/b4/d0/8b/8ec7542bba6655e19f164cbe7215a03bc9681120bcee560268
  Building wheel for evdev (setup.py) ... done
  Created wheel for evdev: filename=evdev-1.4.0-cp37-cp37m-linux_x86_64.whl size=97549 sha256=d66eeb2318caf93db957d6df2660e054eb04a0c28849242e03cbdc3851624e78
  Stored in directory: /root/.cache/pip/wheels/2e/1b/d7/59db567d50027628855552bcc4f9b607d3deb0d8eff8dabc79
Successfully built pandasgui qtstylish evdev
Installing collected packages: PyQt5-sip, PyQt5-Qt5, python-xlib, PyQtWebEngine-Qt5, PyQt5, evdev, qtstylish, PyQtWebEngine, pynput, pandasgui
Successfully installed PyQt5-5.15.6 PyQt5-Qt5-5.15.2 PyQt5-sip-12.9.0 PyQtWebEngine-5.15.5 PyQtWebEngine-Qt5-5.15.2 evdev-1.4.0 pandasgui-0.2.13 pynput-1.7.5 python-xlib-0.31 qtstylish-0.1.5

In [ ]:
from pandasgui import show
df = pd.DataFrame(([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
show(df)

ImportError: ignored

In [ ]:
show(df)

In [ ]:
from pandasgui import show
from pandasgui.datasets import pokemon, titanic, all_datasets
show(pokemon)